/* ---------------------------------*\
    #CUSTOM PROPERTY
\*--------------------------------- */
:root {
  /*
   * COLORS
  */

  /* primary */
  --Very-Dark-Blue: hsl(243, 87%, 12%);
  --Desaturated-Blue: hsl(238, 22%, 44%);

  /* accent */
  --Moderate-Cyan: hsl(170, 45%, 43%);

  /* neutral */
  --Light-Grayish-Blue: hsl(240, 75%, 98%);
  --Light-Gray: hsl(0, 0%, 75%);

  /*
   * TYPOGRAPHY
  */

  /* font-family */
  --fontfamily-heading-actions: 'Raleway', sans-serif;
  --fontfamily-body: 'Open Sans', sans-serif;

  /* font-size */
  --fontsize-title-1: 2.8rem;
  --fontsize-title-2: 2.4rem;
  --fontsize-body-1: 1.8rem;
  --fontsize-body-2: 1.6rem;
  --fontsize-body-3: 1.4rem;

  /* font-weight */
  --fontweight-regular: 400;
  --fontweight-bold: 700;

  /*
   * SHADOW
  */
  --shadow-1: 0 2px 6px hsl(0, 0%, 0%, 0.25);

  /*
   * BORDER RADIUS
  */
  --radius3: 3px;

  /*
   * TRANSITION
  */
  --transition-1: 250ms ease;
}

/* ---------------------------------*\
    #RESET
\*--------------------------------- */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a,
span,
input,
button { display: block; }

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  width: 100%;
  padding: 14px;
  border-radius: var(--radius3);
  background: none;
  font: inherit;
}

button {
  cursor: pointer;
  width: auto;
  background: hsl(0, 0%, 100%);
  transition: var(--transition-1);
}

button:hover { box-shadow: var(--shadow-1); }

address { font-style: normal; }

html { font-size: 10px; }

/* ---------------------------------*\
    #HEADER
\*--------------------------------- */
.navbar-container {
  position: fixed;
  padding: 10px;
  top: 4px;
  left: 50%;
  width: 97%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--Very-Dark-Blue);
  border-radius: var(--radius3);
}

.navbar .row-list { display: flex; }

.navbar .row-list li {
  margin: 0 20px;
  transition: all var(--transition-1);
}

.navbar .row-list li a {
  font-family: var(--fontfamily-heading-actions);
  font-size: var(--fontsize-body-1);
}

.navbar .row-list li a.active { color: var(--Desaturated-Blue); }

.navbar .row-list li:hover a:is(:not(.active)),
.navbar .row-list li:focus a:is(:not(.active)) {
  color: var(--Moderate-Cyan);
  text-decoration: underline;
}

h1 { font-size: var(--fontsize-title-1); }

/* ---------------------------------*\
    #SECTION
\*--------------------------------- */
.section-container { display: none; }

.section-container.active {
  display: block;
  position: fixed;
  width: 97%;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--fontfamily-body);
  font-size: var(--fontsize-body-3);
}

.section-container h2 {
  font-weight: var(--fontweight-bold);
  font-size: var(--fontsize-title-2);
  text-align: center;
  margin: 1em 1em 2em 1em;
}

.date-time {
  position: fixed;
  width: 97%;
  top: 9%;
  right: 51.9%;
  transform: translate(49.5%, -9%);
  text-align: right;
  font-size: var(--fontsize-body-3);
  font-weight: var(--fontweight-bold);
  font-family: var(--fontfamily-heading-actions);
}

/* ---------------------------------*\
    #SECTION BOOK LIST
\*--------------------------------- */
.books-container:has(.book) {
  border: 2px solid var(--Very-Dark-Blue);
  width: 60vw;
  max-width: 900px;
  height: auto;
  max-height: 50vh;
  margin: auto;
  overflow-y: auto;
}

.book {
  display: grid;
  grid-template-columns: 80% 1fr;
  width: 100%;
  min-width: 300px;
  padding: 10px 20px;
  align-items: center;
  box-shadow: var(--shadow-1);
  transition: var(--transition-1);
}

.book:nth-child(odd) { background-color: var(--Light-Grayish-Blue); }

.book:hover,
.book:focus,
.book:nth-child(odd):hover,
.book:nth-child(odd):focus { background: var(--Light-Gray); }

.book-item {
  display: flex;
  gap: 5px;
  font-size: var(--fontsize-body-2);
  font-weight: var(--fontweight-bold);
  justify-content: space-between;
}

.book-title {
  position: relative;
  text-transform: capitalize;
}

.book-title::before {
  position: absolute;
  content: '"';
  left: -8px;
  top: -1%;
}

.book-title::after {
  position: absolute;
  content: '"';
  top: -1%;
}

.book-author {
  position: relative;
  text-transform: capitalize;
  margin: 0 2em;
}

.book-author::before {
  position: absolute;
  content: "by";
  left: -55px;
}

/* ---------------------------------*\
    #SECTION ADD NEW BOOK
\*--------------------------------- */
form {
  width: 50vw;
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label { display: none; }

.input-field { transition: var(--transition-1); }

.input-field:hover,
.input-field:focus { box-shadow: var(--shadow-1); }

.submit { align-self: flex-end; }

/* ---------------------------------*\
    #SECTION CONTACT
\*--------------------------------- */
.section-container.active#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--fontweight-bold);
}

#contact-section ul { margin-top: 1.5em; }

/* ---------------------------------*\
    #FOOTER
\*--------------------------------- */
footer {
  position: fixed;
  bottom: 4px;
  left: 50%;
  width: 97%;
  padding: 16px 2em;
  border: 2px solid var(--Very-Dark-Blue);
  border-radius: var(--radius3);
  transform: translateX(-50%);
  font-size: var(--fontsize-body-1);
  font-weight: var(--fontweight-bold);
}
